$def with(maestros)
<h3>
    <a href="/maestros">maestros</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>maestros</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        $for item in maestros:
        <tr>
            <td><a href='/maestros/view/$item.nombre'>$item.nombre</a></td>
            <td><a href='/maestros/edit/$item.id_maestro'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/maestros/delete/$item.id_maestro'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>